<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="site-title">
    <h1><%= title%></h1>
</div>
<p>Дата новостей:
    <input type="range" min="1" max="<%= countGroups%>" id="dates-slider" value="<%= countGroups%>">
    <div id="date-placeholder"></div>
</p>
<div class="container">

    <div class="container-long-news">
        <% longNews.map((item, i) => {%>
            <div class="news-item shadow-wrap item-long ">
                <% if(i === 0) {%>
                    <div class="container-header">
                        <h1>TOP NEWS</h1>
                    </div>
                <%} %>
                <div class="container-body">
                    <div class="item-media">
                        <img src="<%= item._doc.imageSrc%>"  alt="<%= item._doc.title%>"/>
                    </div>
                    <div class="item-info">
                        <div class="item-title">
                            <h2><%= item._doc.title%></h2>
                        </div>
                        <div class="item-description">
                            <p><%= item._doc.description%></p>
                        </div>
                    </div>
                </div>

            </div>

        <%})%>
    </div>
    <div class="container-short-news shadow-wrap">
        <h1>TOP HEADERS</h1>
        <% shortNews.map(item => {%>
        <h3><%= item._doc.title%></h3>
        <%})%>
    </div>
</div>
<script>
    function main(){
        const DATES = JSON.parse('<%- newsGroups %>');
        console.log(DATES);
        const $date_placeholder = $("#date-placeholder");
        $date_placeholder.append(DATES[DATES.length-1])

        $("#dates-slider").change(function () {
            $date_placeholder.empty();
            let date = DATES[parseInt($(this).val()) -1];
            $date_placeholder.append(date);
        })
    }
    main()
</script>
</body>
</html>
